@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
.toggle__title {
  margin: 10px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch__input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch__input:checked + .slider {
  background-color: #696fdd;
}
.switch__input:focus + .slider {
  box-shadow: 0 0 1px #696fdd;
}
.switch__input:checked + .slider:before {
  transform: translateX(26px);
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 34px;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin-bottom: 40px;
  padding: 20px 10px;
  background-color: #fff;
  border-radius: 10px;
  font-size: 18px;
  color: #6d708d;
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  .card {
    width: 60%;
  }
}
@media screen and (min-width: 768px) {
  .card {
    width: 33%;
  }
}
.card__label {
  position: absolute;
  top: -25px;
  padding: 10px;
  background-color: #e3b3f9;
  border-radius: 7px;
}
.card__price {
  margin-bottom: 20px;
  font-size: 32px;
  color: #494C5F;
}
.card__price_yearly {
  display: none;
}
.card__feature-list {
  padding: 0;
  list-style: none;
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  .card__feature-list {
    font-size: 24px;
  }
}
.card__feature-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.card__feature-item:last-child {
  margin-bottom: 20px;
}
.card__feature-item.cross {
  color: #999;
}
.card__feature-item .fa-regular {
  margin-right: 5px;
}
.card__signup {
  display: block;
  width: 60%;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 10px;
  background: linear-gradient(#6d708d, #3a3d73);
  color: #fff;
  text-align: center;
  text-decoration: none;
}
.card__signup:hover {
  background: linear-gradient(#696fdd, #3a3d73);
}
.card__signup:hover, .card__signup:focus {
  animation: pulse 1s;
  box-shadow: 0 0 0 2em transparent;
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #6d708d;
  }
}
.card.promo {
  position: relative;
  background: linear-gradient(#696fdd, #3a3d73);
  color: #fff;
}
@media screen and (min-width: 768px) {
  .card.promo {
    padding: 40px 30px;
  }
}
.card.promo .card__price {
  color: #fff;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .card.promo .card__price {
    font-size: 27px;
  }
}
.card.promo .card__signup {
  background: #fff;
  color: #494C5F;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #F6F6FE;
  font-family: "Montserrat", sans-serif;
}

.main {
  margin: 10px;
}

.comparison {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.comparison__header {
  font-size: 32px;
  color: #6d708d;
  text-align: center;
}
.comparison__toggle {
  display: flex;
  justify-content: center;
  align-items: center;
}
.comparison__cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0;
}
@media screen and (min-width: 768px) {
  .comparison__cards-container {
    flex-direction: row;
  }
}
@media screen and (min-width: 992px) {
  .comparison__cards-container {
    margin: 50px;
  }
}/*# sourceMappingURL=style.css.map */